/**
 * @name ClearVision MoriCalliopeEditionV0.0.5
 * @author randomman254
 * @version 6
 * @description Mori Calliope theme with some personal favorite colors. Based on ClearVision V6.
 * @source https://github.com/randomman254/BetterDiscordStuff/blob/master/Themes/ClearVision_v6_MoriCalliopeEditionV0.0.3.theme.css
 * @website https://clearvision.gitlab.io
 */

/* Credits to Zerthox for making the original theme. */

/* IMPORT CSS */
@import url(https://clearvision.gitlab.io/v6/main.css);

/* SETTINGS */
:root {

	/* ACCENT COLORS */
	--main-color: #5C889A; /* main accent color (hex, rgb or hsl) [default: #2780e6] */
	--hover-color: #5C889A; /* hover accent color (hex, rgb or hsl) [default: #1e63b3] */
	--success-color: #43b581; /* success accent color (hex, rgb or hsl) [default: #43b581] */
	--danger-color: #d92626; /* danger accent color (hex, rgb or hsl) [default: #982929] */
	--text-color: #5C889A; /* text color for channel and category names [added by randomman254] */
	--url-color: #5C889A; /* my own URL color [added by randomman254] */
	--channel-unread: #5C889A; /* my own channel unread color [added by randomman254] */

	/* STATUS COLORS */
	--online-color: #43b581; /* online status color (hex, rgb or hsl) [default: #43b581] */
	--idle-color: #faa61a; /* idle status color (hex, rgb or hsl) [default: #faa61a] */
	--dnd-color: #d92626; /* dnd status color (hex, rgb or hsl) [default: #982929] */
	--streaming-color: #593695; /* streaming status color (hex, rgb or hsl) [default: #593695] */
	--offline-color: #808080; /* offline/invisible status color (hex, rgb or hsl) [default: #808080] */

	/* GENERAL */
	--main-font: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif; /* main font for app (font must be installed) [default: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif] */
	--code-font: Consolas, Liberation Mono, Menlo, Courier, monospace; /* font for codeblocks (font must be installed) [default: Consolas, Liberation Mono, Menlo, Courier, monospace] */
	--server-columns: 1; /* amount of server list columns [default: 1] */
	--channels-width: 220px; /* channel list width (240px for Discord default) [default: 220px] */
	--members-width: 240px; /* member list width [default: 240px] */
	--avatar-roundness: 50%; /* avatar roundness (0% for squares, 50% for circles) [default: 50%] */

	/* APP BACKGROUND */
	--background-shading: 100%; /* app background shading (0 for complete smoothness) [default: 100%] */
	--background-overlay: rgba(0, 0, 0, 0.6); /* app background overlay color/gradient [default: rgba(0, 0, 0, 0.6)] */
	--background-image: url(https://i.imgur.com/H17jAnC.png); /* app background image (link must be HTTPS) [default: url(https://clearvision.gitlab.io/images/sapphire.jpg)]*/
	--background-position: center; /* app background position [default: center] */
	--background-size: cover; /* app background size [default: cover] */
	--background-repeat: no-repeat; /* app background repeat [default: no-repeat] */
	--background-attachment: fixed; /* app background attachment [default: fixed] */
	--background-brightness: 80%; /* app background brightness (< 100% for darken, > 100% for lighten) [default: 100%] */
	--background-contrast: 100%; /* app background contrast [default: 100%] */
	--background-saturation: 100%; /* app background saturation [default: 100%] */
	--background-invert: 0%; /* app background invert (0 - 100%)  [default: 0%] */
	--background-grayscale: 0%; /* app background grayscale ( 0 - 100%) [default: 0%] */
	--background-sepia: 0%; /* app background sepia (0 - 100%) [default: 0%] */
	--background-blur: 1.5px; /* app background blur [default: 0px] */
	
	/* HOME BUTTON ICON */
	--home-icon: url(https://clearvision.gitlab.io/icons/discord.svg); /* home button icon (link must be HTTPS) [default: url(https://clearvision.gitlab.io/icons/discord.svg)]*/
	--home-position: center; /* home button icon position [default: center] */
	--home-size: 40px; /* home button icon size [default: 40px] */
	
	/* MODAL BACKDROP */
	--backdrop-overlay: rgba(0, 0, 0, 0.8); /* modal backdrop overlay color/gradient [default: rgba(0, 0, 0, 0.8)] */
	--backdrop-image: var(--background-image); /* modal backdrop image (link must be HTTPS) [default: var(---background-image)] */
	--backdrop-position: var(--background-position); /* modal backdrop position [default: var(---background-position)] */
	--backdrop-size: var(--background-size); /* modal backdrop size [default: var(---background-size)] */
	--backdrop-repeat: var(--background-repeat); /* modal backdrop repeat [default: var(---background-repeat)] */
	--backdrop-attachment: var(--background-attachment); /* modal backdrop attachment [default: var(--background-attachment)] */
	--backdrop-brightness: var(--background-brightness); /* modal backdrop brightness (< 100% for darken, > 100% for lighten) [default: var(---background-brightness)] */
	--backdrop-contrast: var(--background-contrast); /* modal backdrop contrast [default: var(---background-contrast)] */
	--backdrop-saturation: var(--background-saturation); /* modal backdrop saturation [default: var(---background-saturation)] */
	--backdrop-invert: var(--background-invert); /* modal backdrop invert (0 - 100%)  [default: var(---background-invert)] */
	--backdrop-grayscale: var(--background-grayscale); /* modal backdrop grayscale ( 0 - 100%) [default: var(---background-grayscale)] */
	--backdrop-sepia: var(--background-sepia); /* modal backdrop sepia (0 - 100%) [default: var(---background-sepia)] */
	--backdrop-blur: var(--background-blur); /* modal backdrop blur [default: var(--background-blur)] */
	
	/* USER POPOUT BACKGROUND */
	--user-popout-image: var(--background-image); /* app background image (link must be HTTPS) [default: var(---background-image)] */
	--user-popout-position: var(--background-position); /* user popout background position [default: var(---background-position)] */
	--user-popout-size: var(--background-size); /* user popout background size [default: var(---background-size)] */
	--user-popout-repeat: var(--background-repeat); /* user popout background repeat [default: var(---background-repeat)] */
	--user-popout-attachment: var(--background-attachment); /* user popout background attachment [default: var(--background-attachment)] */
	--user-popout-brightness: var(--background-brightness); /* user popout background brightness (< 100% for darken, > 100% for lighten) [default: var(---background-brightness)] */
	--user-popout-contrast: var(--background-contrast); /* user popout background contrast [default: var(---background-contrast)] */
	--user-popout-saturation: var(--background-saturation); /* user popout background saturation [default: var(---background-saturation)] */
	--user-popout-invert: var(--background-invert); /* user popout background invert (0 - 100%) [default: var(---background-invert)] */
	--user-popout-grayscale: var(--background-grayscale); /* user popout background grayscale (0 - 100%) [default: var(---background-grayscale)] */
	--user-popout-sepia: var(--background-sepia); /* user popout background sepia (0 - 100%) [default: var(---background-sepia)] */
	--user-popout-blur: calc(var(--background-blur) + 3px); /* user popout background blur [default: calc(var(--background-blur) + 3px)] */
	
	/* USER MODAL BACKGROUND */
	--user-modal-image: var(--background-image); /* app background image (link must be HTTPS) [default: var(---background-image)] */
	--user-modal-position: var(--background-position); /* user modal background position [default: var(---background-position)] */
	--user-modal-size: var(--background-size); /* user modal background size [default: var(---background-size)] */
	--user-modal-repeat: var(--background-repeat); /* user modal background repeat [default: var(---background-repeat)] */
	--user-modal-attachment: var(--background-attachment); /* user modal background attachment [default: var(--background-attachment)] */
	--user-modal-brightness: var(--background-brightness); /* user modal background brightness (< 100% for darken, > 100% for lighten) [default: var(---background-brightness)] */
	--user-modal-contrast: var(--background-contrast); /* user modal background contrast [default: var(---background-contrast)] */
	--user-modal-saturation: var(--background-saturation); /* user modal background saturation [default: var(---background-saturation)] */
	--user-modal-invert: var(--background-invert); /* user modal background invert (0 - 100%) [default: var(---background-invert)] */
	--user-modal-grayscale: var(--background-grayscale); /* user modal background grayscale (0 - 100%) [default: var(---background-grayscale)] */
	--user-modal-sepia: var(--background-sepia); /* user modal background sepia (0 - 100%) [default: var(---background-sepia)] */
	--user-modal-blur: calc(var(--background-blur) + 3px); /* user modal background blur [default: calc(var(--background-blur) + 3px)] */
	
	/* THEME BD COLORS */
	--bd-blue: var(--text-color); /* betterdiscord main color [default: var(--main-color)] */
	--bd-blue-hover: var(--hover-color); /* betterdiscord hover color [default: var(--hover-color)] */
	--bd-blue-active: var(--hover-color); /* betterdiscord active color [default: var(--hover-color)] */
}
/* Colors/images list (for keeping track what has been used currently or previously)
Colors:
	Purple-ish color:
		Main: #413f66
		Hover: #413f66
		Text: #6d6aa4
		URL: #6d6aa4
		Channel: #6d6aa4
	Cyan/light blue-ish color:
		Main: #5C889A
		Font: #5C889A
		Text: #5C889A
		URL: #5C889A
		Channel: #5C889A
Images:
	Mori: https://i.imgur.com/H17jAnC.png
	Desolate: https://cdn.discordapp.com/attachments/734790981756387402/769779273027682314/desolate_sans.png
*/

/* PLUGIN TWEAKS */
/* Permissions viewer plugin modal */
#permissions-modal-wrapper .header {
	background-color: rgba(0,0,0,0.9);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
    padding: 12px 20px;
    z-index: 1;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}
#permissions-modal-wrapper .role-side {
	width: auto;
    min-width: 150px;
    background: rgba(0,0,0,0.9);
    flex: 0 0 auto;
    overflow: hidden;
    display: flex;
    height: 100%;
    min-height: 1px;
    position: relative;
}
#permissions-modal-wrapper .perm-side {
	width: 250px;
    background-color: rgba(0,0,0,0.9);
    flex: 0 0 auto;
    display: flex;
    height: 100%;
    min-height: 1px;
    position: relative;
    padding-left: 10px;
}
/* Better folders plugin modal */
.appMount-3lHmkl .modal-yWgWj-, .appMount-3lHmkl .root-1gCeng {
    background: rgba(26,26,26,0.9);
    box-shadow: none;
}

/* ROUNDED PARTS */
/* Rounded user card in settings */
.userSettingsAccount-2eMFVR .userInfoViewing-16kqK3, .userSettingsAccount-2eMFVR .userInfoEditing-1CEzdT {
	border-radius: 15px;
}

/* Rounded borders on text area */
.scrollableContainer-2NUZem {
   border-radius: 15px;
}

/* Rounded borders on text area in user modal */
.input-cIJ7To {
	border-radius: 10px;
}

/* Rounded notes section on user popout */
.body-3ND3kc .userInfoSection-2acyCx>.note-QfFU8y>textarea {
	border-radius: 10px;
}

/* Rounded notes section on user modal */
.userPopout-3XzG_A .note-3HfJZ5>textarea {
	border-radius: 10px;
}

/* Rounded connected apps on user popout */
.connectedAccounts-repVzS>.connectedAccount-36nQx7 {
    border-radius: 15px;
}

/* Rounded User DM tabs */

/* OTHER TWEAKS */
/* Change Role Name Text */
.members-1998pB .membersGroup-v9BXpm {
    padding-top: 18px;
    display: block;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    transition: all .15s ease-in-out;
    opacity: 0.9 !important;
}

/* Change date timestamp text color and text background opacity */
.content-1o0f9g {
    background: rgba(255,255,255,0.1);
    color: var(--text-color);
    text-transform: uppercase;
    opacity: 0.9;
}

/* Change category name text color */
.sidebar-2K8pFh .containerDefault-3GGEv_ .wrapper-CU3qI5 .name-IbjUBS, .sidebar-2K8pFh .containerDragBefore-3Dzc5x .wrapper-CU3qI5 .name-IbjUBS, .sidebar-2K8pFh .containerDragAfter-3TEhpe .wrapper-CU3qI5 .name-IbjUBS, .sidebar-2K8pFh .containerUserOver-1Tcb7l .wrapper-CU3qI5 .name-IbjUBS {
    color: var(--text-color);
}

/* Change category name padding */
.containerDefault-3GGEv_, .containerDragBefore-3Dzc5x, .containerDragAfter-3TEhpe, .containerUserOver-1Tcb7l {
    padding-top: 8px;
}

/* Remove left bar of category name */
.name-IbjUBS:before {
    content: "";
    height: 2px;
    flex-grow: 0;
    transition: all .3s ease-in-out;
    background: var(--text-color);
    margin-right: 5px;
}

/* Change right bar of category name */
.name-IbjUBS:after {
    content: "";
    height: 2px;
    flex-grow: 1;
    transition: all .3s ease-in-out;
    background: linear-gradient(to right, var(--text-color) 50%, transparent);
    margin-right: 5px;
}

/* Change add channel icon on category tab color */
.addButtonIcon-3u-3Hu {
	color: var(--text-color);
}

/* Change DM text on home */
.privateChannels-1nO12o .privateChannelsHeaderContainer-3NB1K1:before {
    content: "";
    height: 2px;
    flex-grow: 0;
    transition: all .3s ease-in-out;
    background: linear-gradient(to left, var(--text-color) 50%, transparent);
    margin-right: 5px;
}
.privateChannels-1nO12o .privateChannelsHeaderContainer-3NB1K1:after {
    content: "";
    height: 2px;
    flex-grow: 1;
    transition: all .3s ease-in-out;
    background: linear-gradient(to right, var(--text-color) 50%, transparent);
    margin-right: 5px;
}
.privateChannels-1nO12o .privateChannelsHeaderContainer-3NB1K1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-weight: 700;
    text-align: center;
}
.privateChannels-1nO12o .privateChannelsHeaderContainer-3NB1K1 .privateChannelRecipientsInviteButtonIcon-3A3uTc {
    color: var(--text-color);
    transition: all .1s ease-in-out;
}

/* Change settings category text color and bar */
.sidebar-CFHs9e .header-2RyJ0Y:before {
    content: "";
    height: 2px;
    flex-grow: 0;
    background: linear-gradient(to left, var(--main-color) 50%, transparent);
    margin-right: 5px;
}
.sidebar-CFHs9e .header-2RyJ0Y:after {
    content: "";
    height: 2px;
    flex-grow: 1;
    background: linear-gradient(to right, var(--text-color) 50%, transparent);
    margin-left: 5px;
}
.side-8zPYf6 .header-2RyJ0Y {
    color: var(--text-color);
    font-weight: 700;
}
/* BD tab */
.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-header:before {
    content: "";
    height: 2px;
    flex-grow: 0;
    background: linear-gradient(to left, var(--main-color) 50%, transparent);
    margin-right: 5px;
}
.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-header:after {
    content: "";
    height: 2px;
    flex-grow: 1;
    background: linear-gradient(to right, var(--text-color) 50%, transparent);
    margin-left: 5px;
}
.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-header {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-weight: 700;
}
#bd-settings-sidebar .ui-tab-bar-header .bd-changelog-button {
    height: 16px;
	padding-left: 4px;
}

/* Blur email in settings, reveal on hover */
#app-mount .standardSidebarView-3F1I7i .payment-info .description-3_Ncsb,
#app-mount .standardSidebarView-3F1I7i .paymentSourceRow-3FbcL_ .subText-V8PTt8,
#app-mount .standardSidebarView-3F1I7i .userSettingsAccount-2eMFVR div:nth-child(2) > div:nth-child(2) > .viewBody-2Qz-jg {
   transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
   filter: blur(4px);
   opacity: 0.8;
}
#app-mount .standardSidebarView-3F1I7i .payment-info .description-3_Ncsb:hover,
#app-mount .standardSidebarView-3F1I7i .paymentSourceRow-3FbcL_ .subText-V8PTt8:hover,
#app-mount
   .standardSidebarView-3F1I7i
   .userSettingsAccount-2eMFVR
   div:nth-child(2)
   > div:nth-child(2)
   > .viewBody-2Qz-jg:hover {
   transition: all 150ms cubic-bezier(0.55, 0.09, 0.68, 0.53);
   filter: none;
   opacity: 1;
}

/* Right click menu - transparency change */
.menu-3sdvDG {
    background-color: rgba(0,0,0,0.97);
}

/* Stream preview popout when hovering over a user who is live - transparency change */
.theme-dark .streamPreview-2-WUWT {
    background-color: rgba(0,0,0,0.97);
}

/* User activity when hovering over channel name - transparency change */
.container-3JTnYm {
	background-color: rgba(0,0,0,0.97);
}

/* Mention auto-complete - transparency change */
.autocomplete-1vrmpx .autocompleteInner-zh20B_, .autocomplete-1vrmpx .container-3ISnnM {
    background: rgba(0,0,0,0.97);
    -webkit-animation: cv-menu-slide-bottom .2s ease-in-out;
    animation: cv-menu-slide-bottom .2s ease-in-out;
    transform-origin: 50% 100%;
}

/* GIF and Emoji picker - transparency change */
.contentWrapper-SvZHNd {
    background-color: rgba(0,0,0,0.97);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* Padding on notes to line up with message type area on user modal */
.body-3iLsc4 {
	padding: 16px 14px 16px 20px
}
.bodyInnerWrapper-Z8WDxe {
    padding-right: 0px;
}

/* Spacing between messages and type area */
.scrollerSpacer-avRLaA {
    display: block;
    height: 20px;
    width: 1px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    pointer-events: none;
}

/* Change link text color */
.fileNameLink-9GuxCo {
    color: var(--url-color);
    transition: all .1s ease-in-out;
}
.anchor-3Z-8Bb {
    color: var(--url-color);
    transition: all .1s ease-in-out;
}
.embed-IeVjo6 .embedTitleLink-1Zla9e {
    color: var(--url-color) !important;
}

/* Change unread indicator color on server icon */
.item-2hkk8m {
    width: 12px;
    margin-left: -6px;
    border-radius: 20px;
    background: var(--text-color);
    box-shadow: 0 0 20px -1px var(--main-color);
}

/* Change live status color on server icon (unknown if possible) */
